{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Todo List</h2>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush" id="notes">
                {% if user.notes %}
                {% for note in user.notes %}
                <li
                    class="list-group-item {% if note.complete %}text-decoration-line-through text-muted{% endif %} d-flex align-items-center border-bottom p-1">
                    <div style="flex: 1;" class="flex flex-column pe-2">
                        <p style="margin-bottom: 5px;">{{ note.data }}</p>
                        <p class="text-muted" style="font-size: 12px; margin-bottom: 0;">{{ note.date }}</p>
                    </div>
                    <div class="float-end">
                        <a href="/complete-note/{{ note.id }}" class="btn btn-success btn-sm">
                            {% if note.complete %}
                            <i class="fa-regular fa-circle-xmark"></i>
                            {% else %}
                            <i class="fa-regular fa-circle-check"></i>
                            {% endif %}
                        </a>
                        <a href="/delete-note/{{ note.id }}" class="btn btn-danger btn-sm me-2">
                            <i class="fa-regular fa-delete-left"></i>
                        </a>
                    </div>
                </li>
                {% endfor %}
                {% else %}
                <li class="list-group-item text-center text-muted">
                    Hiện tại không có note nào
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-footer">
            <form action="" method="post">
                <p class="ms-1 fw-semibold mb-1">Add new note</p>
                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control" placeholder="Note..." aria-label="Note..."
                        aria-describedby="button-addon2" name="note" id="note" required>
                    <button type="submit" class="btn btn-primary" id="button-addon2">
                        Add note
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}